<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="User" type="com.microblog.domain.User"/>
        <typeAlias alias="Blog" type="com.microblog.domain.Blog"/>
        <typeAlias alias="Comment" type="com.microblog.domain.Comment"/>        
    </typeAliases>
</configuration>